html,
body,
#__APP_CONTAINER__ {
  height: 100%;
}
.pretty-scroll-bar {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--joy-palette-primary-solidDisabledColor);
  }
  &::-webkit-scrollbar-track {
    border-radius: 0;
    padding-left: 1px;
  }
}

.text-elipsis {
  white-space: nowrap; //禁止换行
  overflow: hidden;
  text-overflow: ellipsis; //...
}
.text-elipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
