<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-3">

    <div class="d-grid gap-2">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Message">
      <button class="btn btn-primary" type="button">Send</button>
    </div>
    <div class="container mt-3">
      <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
      </div>
      <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
      </div>
      <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
      </div>
      <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
      </div>
    </div>
  </div>

  <script lang="javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script lang="javascript"
    src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <script lang="javascript" src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
  {{--  <script lang="javascript" src="https://cdn.bootcdn.net/ajax/libs/axios/1.8.4/axios.min.js"></script>  --}}
  <script lang="javascript">
    $.get('/api/user/v1/me', {}, function(response) {
        console.log('服务器响应:', response);
    });
  </script>
</body>

</html>
